@media (max-width: 600px) {
  .post h2 {
    line-height: 1.1;
  }

  .post .row {
    flex-direction: column;
    .content {
      max-width: initial !important;
      h3 {
        line-height: 1.1;
        margin-bottom: 2rem;
      }
      .content-description {
        margin-bottom: 2rem;
      }
    }
  }
}
