.subscribe {
  background: var(--light-background-color);
  padding: 1rem;
  text-align: center;
  h2 {
    font-size: 2rem;
    margin: 2rem 0 0;
  }
  p {
    max-width: 50ch;
    margin: 0 auto 2rem;
  }
  input,
  button {
    padding: 0.5rem 1rem;
    margin: 0;
    border: none;
  }
  input {
    width: 15rem;
  }
  button {
    background-color: var(--dark-background-color);
    color: var(--light-background-color);
  }
  button:hover {
    background-color: #000;
  }
}
